body {
    margin: 0;
    font-family: 'B612 Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.timer {
    font-size: 80px;
    font-weight: bold;
    color: #A7E10D; /* Yellow-Green color for the main message */
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    text-align: center;
}

.countdown-text {
    color: #A7E10D; /* Yellow-Green color for the text */
}

.countdown-num {
    color: #6441A5; /* Purple color for the numbers */
}

.time-text {
    color: #00bc32; /* Change to the desired color code for the "4:20" text */
}
